<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="e_exam.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="EXAMEntities" connectionString="metadata=res://*/DataConnection.csdl|res://*/DataConnection.ssdl|res://*/DataConnection.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KISL-DSS-013714\MSSQLSERVER2012;initial catalog=EXAM;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="e_exam.My.MySettings.EXAMConnectionString" connectionString="Data Source=KISL-DSS-013714\MSSQLSERVER2012;Initial Catalog=EXAM;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="e_exam.My.MySettings.EXAMLocalConnection" connectionString="Data Source=.;Initial Catalog=EXAM;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <userSettings>
    <e_exam.My.MySettings>
      <setting name="LocalConn" serializeAs="String">
        <value>False</value>
      </setting>
    </e_exam.My.MySettings>
  </userSettings>
</configuration>
